#parse("./head/header.vm")
#parse("./head/sidebar.vm")
#parse("./head/navbar.vm")

<script src="/public/plugins/jQueryValidation/jquery.validate-1.13.1.js" type="text/javascript"></script>
<script src="/public/js/createPermission.js" type="text/javascript"></script>
<style>
    #insertform label.error{
        color: red;
    }
</style>

<input id="isEdit" style="display: none;" value="$!{edit}"/>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div style="width: 100%">
                <div class="card">
                    <div class="content">
                        <form class="form-horizontal" id="insertform">
                            <input id="permissionId" name="id" style="display: none;" value="$!{id}"/>
                            <div class="form-group" style="margin-left: 25%">
                                <label for="permissionName" class="col-sm-2 control-label">权限名称</label>
                                <div class="col-sm-10" style="width: 300px;">
                                    <input id="permissionName" name="permissionName" type="text" class="form-control" placeholder="请输入权限英文名"/>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 25%">
                                <label for="permissionCname" class="col-sm-2 control-label">权限中文名称</label>
                                <div class="col-sm-10" style="width: 300px;">
                                    <input id="permissionCname" name="permissionCname" type="text" class="form-control" placeholder="请输入权限中文名"/>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 25%">
                                <label for="permission" class="col-sm-2 control-label">权限</label>
                                <div class="col-sm-10" style="width: 300px;">
                                    <input id="permission" name="permission" type="text" class="form-control" placeholder="请输入权限"/>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 25%">
                                <label for="permissionDesc" class="col-sm-2 control-label">权限描述</label>
                                <div class="col-sm-10" style="width: 300px;">
##                                    <input type="text" class="form-control" placeholder="请输入权限描述"/>、
                                    <textarea id="permissionDesc" name="permissionDesc" style="resize: none;" class="form-control" placeholder="请输入权限描述"/></textarea>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 25%">
                                <label for="permissionType" class="col-sm-2 control-label">类型</label>
                                <div class="col-sm-10" style="width: 300px;">
                                    <div style="float: left">
                                        <select id="permissionType"  name="permissionType" class="form-control">
                                            <option value="menu">菜单</option>
                                            <option value="button">按钮</option>
                                        </select>
                                    </div>
                                    <div id="pidSelectDiv" style="float: left;display: none">
                                        <select id="pidSelect" name="pid" class="form-control">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 25%">
                                <label for="url" class="col-sm-2 control-label">url</label>
                                <div class="col-sm-10" style="width: 300px;">
                                    <input id="url" name="url" type="text" class="form-control" placeholder="请输入权限url"/>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 25%">
                                <label for="permissionIsenable" class="col-sm-2 control-label">是否启用</label>
                                <div class="col-sm-10" style="width: 300px;">
                                    <label class="radio-inline">
                                        <input type="radio" name="isEnable" id="enableRadio" value=1> 是
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="isEnable" id="unenableRadio" value=0> 否
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 25%">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button id="submit" type="button" class="btn btn-default">提交</button>
                                    <button type="button" id="save" class="btn btn-default">保存修改</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


#parse("./head/footer.vm")