#parse("./head/header.vm")
#parse("./head/sidebar.vm")
#parse("./head/navbar.vm")

<style>
    .etc_list {
        /*border: 1px solid #c6c6c6;*/
        max-height: 280px;
        overflow: auto;
    }

    .etc_list li {
        list-style-image: url(/public/assets/img/file-icon.png);
    }

    .etc_list_on {
        background-color: #C5E1E4;
    }

    .CodeMirror-merge, .CodeMirror-merge .CodeMirror {
        height: 400px !important;
    }

    .CodeMirror-merge-copy {
        display: none !important;
    }
</style>
<link href="/public/plugins/CodeMirror-master/doc/docs.css" rel="stylesheet"/>
<link href="/public/plugins/CodeMirror-master/lib/codemirror.css" rel="stylesheet"/>
<link href="/public/plugins/CodeMirror-master/addon/merge/merge.css" rel="stylesheet"/>
<script src="/public/plugins/CodeMirror-master/lib/codemirror.js"></script>
<script src="/public/plugins/CodeMirror-master/mode/xml/xml.js"></script>
<script src="/public/plugins/CodeMirror-master/diff_math_path.js"></script>
<script src="/public/plugins/CodeMirror-master/addon/merge/merge.js"></script>
<script src="/public/js/changeListCheck.js"></script>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div Style="min-height: 400px">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="box box-success">
                                    <h4 class="box-title">etc变更列表</h4>
                                    <hr/>
                                    <input type="hidden" id="event-id" value="$!eventId">
                                    <div class="box-body">
                                        <ul id="etc_list" class="etc_list">
                                            #foreach($fileChange in $!fileChangeDatas)
                                                <a onclick="clickFileName(this)" href="#">
                                                    <li id="test-test">$!fileChange.filename</li>
                                                </a>
                                            #end
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div>
                    <!--放button按钮 -->
                </div>
            </div>

            <div class="col-md-offset-1 col-md-8">
                <div class="card">
                    <!--放文本 -->
                    <div id=view style="height: 400px"></div>
                </div>
                #if($shiro.hasPermission("publishevnt:etcApprove"))
##                    <div id="btnputer" hidden style="text-align: center">
                        <button id="pass_btn" type="button" class="btn btn-info">通过</button>
                        <button id="unPass_btn" style="margin-left: 50px;" type="button" class="btn btn-danger">不通过
                        </button>
##                    </div>
                #end
            ##            <div class="col-md-4">
            ##                    <div class="card">
            ##                        <!--放文本 -->
            ##                        <div style="height: 400px">
            ##                            <div id="textputer" Style="padding-top: 10px;height: 350px;text-align: center">
            ##                            </div>
            ##                            <div id="btnputer" style="text-align: center">
            ##                            </div>
            ##                        </div>
            ##                    </div>
            ##                    <div style="text-align: center">
            ##                        <button id="btn_close" type="button" class="btn btn-info">关闭并返回</button>
            ##                    </div>
            ##            </div>
            ##            <div id=view></div>
            </div>
        </div>
    </div>
</div>


#parse("./head/footer.vm")