#parse("./head/header.vm")
#parse("./head/sidebar.vm")
#parse("./head/navbar.vm")
<link rel="stylesheet" href="/public/assets/processbar/css/ystep.css" type="text/css"/>
<!-- 引入jquery -->
##<script type="text/javascript" src="/public/assets/processbar/js/jquery.min.js"></script>
<!-- 引入ystep插件 -->
<script type="text/javascript" src="/public/assets/processbar/js/ystep.js"></script>
<script src="/public/assets/js/demo.js"></script>
<script src="/public/assets/js/bootstrap-notify.js"></script>
<!--引入分页插件-->
<link href="/public/plugins/sui/sui.min.css" rel="stylesheet"/>
<script src="/public/plugins/sui/sui.min.js"></script>
##<script type="text/javascript" src="/public/plugins/esimakin-pagesort/jquery.twbsPagination.js"></script>
<script type="text/javascript" src="/public/assets/js/publishProcess.js"></script>

<style>
    .doc-viewer {
        display: inline-block;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
    .tdTopControl{
        vertical-align:top !important;
    }
</style>

<script>
    nebula.publish.process.main();
    $(function () {
        $("#publishStatus").html(nebula.common.transform.publishStatus('$!{Event.publishStatus}'));
        if (!${Event.isApproved}) {
            $("#detail").show()
        }
    })
</script>
<div id="loading-status"
     style="display: none;z-index: -1;position: fixed;margin:auto;left:0;right:0;top:0;bottom:0;width:200px;height:150px;">
    <img src="/public/assets/img/loading.gif"></div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        发布单详情
                        #if(${Event.isApproved})
                            <button style="float: right" class="btn btn-xs" type="button" id="detail_btn">展开</button>
                        #end
                    </div>
                    <div style="text-align: center;">
                    ##                        <label style="font-size: large">标题：</label>
                        <label style="font-size: large">$!{Event.publishSubject}</label>
                    </div>
                    <div id="detail" style="clear: both;display: none;"
                         class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <tbody>
                            ##                            <tr>
                            ##                                <td colspan="4">
                            ##                                    <div style="text-align: center">
                            ##                                        <label>标题：</label>
                            ##                                        <label>$!{Event.publishSubject}</label>
                            ##                                    </div>
                            ##                                </td>
                            ##                            </tr>
                            <tr>
                                <td>
                                    <label>发布产品：</label>
                                ##   <label>运价2014</label>
                                    <label>$!{Event.publishProductCname}</label>
                                    <input id="eventId" style="display:none" type="text" value=$!{Event.id}>
                                    <input id="publishBuName" style="display:none" type="text"
                                           value=$!{Event.publishBuName}>
                                    <input id="publishProductName" style="display:none" type="text"
                                           value=$!{Event.publishProductName}>
                                ##  <input id="actionGroup" style="display:none" type="text" value=$!{actionGroup}>
                                ##  <input id="whichStep" style="display:none" type="text" value=$!{whichStep}>
                                ##  <input id="actionState" style="display:none" type="text" value=$!{actionState}>
                                </td>
                                <td>
                                    <label>发布模块：</label>
                                    <label style="text-transform: none;">$!{Event.publishProductKey}</label>
                                </td>
                                <td>
                                    <label>发布环境：</label>
                                    <label style="text-transform: none;" id="publishEnv">$!{Event.publishEnv}</label>
                                </td>
                                <td>
                                    <label>发布类型：</label>
                                    <label>发布</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>发布状态：</label>
                                    <label id="publishStatus"></label>
                                </td>
                            ##  <td>
                            ##   <label>发布结果：</label>
                            ##   <label>$!{Event.isSuccessPublish}</label>
                            ##  </td>
                            ##  <td>
                            ##    <label>发布分批：</label>
                            ##    <label>是/否</label>
                            ##  </td>
                                <td>
                                    <label>发布人：</label>
                                    <label>$!{Event.publishUser.nickname}</label>
                                </td>
                                <td>
                                    <label>发布进度：</label>
                                    <label></label>
                                </td>
                                <td>
                                    <label>发布时间：</label>
                                    <label id="publishDatetime"> $!date.format(
                                        'yyyy-MM-dd HH:mm:ss ',$!Event.publishDatetime)</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>提交人：</label>
                                    <label>$!{Event.submitUser.nickname}</label>
                                </td>
                                <td>
                                    <label>提交时间：</label>
                                    <label>$!date.format('yyyy-MM-dd HH:mm:ss ',$!Event.submitDatetime)</label>
                                </td>
                                <td colspan="2">
                                    <label>提交SVN地址：</label>
                                    <label style="text-transform: none;">$!{Event.publishSvn}</label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                #if(${Event.isApproved})
                    <div class="card card-plain">
                        <div class="header">
                            发布模块和应用
                        </div>
                        <hr/>
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>发布模块</th>
                                    <th>发布模块Key</th>
                                    <th>应用</th>
                                </tr>
                                </thead>
                                <tbody id="moduleAndApps">
                                    #foreach($module in ${Modules})
                                    <tr>
                                        <td>$!{module.publishModuleName}</td>
                                        <td>$!{module.publishModuleKey}</td>
                                        <td>
                                            #foreach($app in ${module.publishApps})
                                                $!{app.publishAppName};
                                            #end
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        </div>
                    </div>
                #end
            </div>
            #if(!${Event.isApproved})
                <div style="text-align: center;" class="col-md-12">
                    #if($shiro.hasPermission("publishevent:approval"))
                        <button type="button" id="approval_btn" class="btn btn-default btn-info">审批</button>
                    #end
                </div>
            #else
                <div class="col-md-12">
                    <div id="publish_btn" class="card card-plain">
                        <div class="header">发布操作</div>
                        <hr/>
                        <div class="content">
                            #if($shiro.hasPermission("publishevnt:prePublishMaster"))
                                <button type="button" id="btn1" class="btn btn-default"
                                        onclick="nebula.publish.process.preMasterPublish();">发布准备
                                </button>
                            #end
                            #if($shiro.hasPermission("publishevnt:prePublishMinion"))
                                <button type="button" id="btn2" class="btn btn-default">启动预发布</button>
                            #end
                            #if($shiro.hasPermission("publishevnt:publishReal"))
                                <button type="button" id="btn3" class="btn btn-default"
                                        onclick="nebula.publish.process.publishReal()">启动正式发布
                                </button>
                            #end
                            #if($shiro.hasPermission("publishevnt:publishSuccessEnd"))
                                <button type="button" id="btn_ConfirmResult" class="btn btn-default"
                                        onclick="nebula.publish.process.publishSuccessEnd()">确认成功
                                </button>
                            #end
                            #if($shiro.hasPermission("publishevnt:publishFailEnd"))
                                <button type="button" id="btn4" class="btn btn-default"
                                        onclick="nebula.publish.process.publishFailEnd()">我要回滚
                                </button>
                            #end
                            #if($shiro.hasPermission("publishevnt:publishReal"))
                                <button type="button" style="display: none" id="refreshCDN" class="btn btn-danger">
                                    刷新CDN
                                </button>
                            #end
                            #if($shiro.hasPermission("publishevnt:publishReal"))
                                <button type="button" style="display: none" id="restartTomcat_btn"
                                        class="btn btn-danger" onclick="nebula.publish.process.restartTomcat()">重启tomcat
                                </button>
                            #end
                            #if($shiro.hasPermission("publishevnt:retryPublishRollback"))
                                <button type="button" style="display: none" id="restartPublish" class="btn btn-danger"
                                        onclick="nebula.publish.process.retryPublishRollback()">重新发布
                                </button>
                            #end
                            #if($shiro.hasPermission("publishevnt:publishReal"))
                                <button type="button" style="display: none" id="cancelPublish" class="btn btn-danger"
                                        onclick="nebula.publish.process.cancelPublish()">取消发布
                                </button>
                            #end
                            #if($shiro.hasPermission("publishevnt:publishReal"))
                                <button type="button" style="display: none" id="backPublish" class="btn btn-danger"
                                        onclick="nebula.publish.process.publishFailEnd()">版本回退
                                </button>
                            #end
                            #if($shiro.hasPermission("publishevnt:addnextpublish"))
                                <button type="button" style="display: none" id="nextPublish"
                                        class="btn btn-info"></button>
                            #end
                        </div>
                    </div>
                    <div id="etc_edit" class="col-md-12">
                        <div id="step1" class="card card-plain">
                            <div class="header">发布准备</div>
                            <hr/>
                            <div id="processbar1" class="ystep4"></div>
                            <div id="etc_btns" style="display: none;margin-top: 30px">
                                #if($shiro.hasPermission("publishevnt:updateEtc")||$!{Event.publishEnv}=="test")
                                    <button type='button' id='etc_btn' class='btn btn-info'>编辑etc</button>
                                #end
                                #if($shiro.hasPermission("publishevnt:updateEtcEnd")||$!{Event.publishEnv}=="test")
                                    <button type='button' id='edit_success' style='margin-left: 30px'
                                            class='btn btn-info'>编辑完成
                                    </button>
                                #end
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="step2" class="card card-plain">
                            <div class="header">启动预发布</div>
                            <hr/>
                            <div id="processbar2" class="ystep4"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="step3" class="card card-plain">
                            <div class="header">启动正式发布</div>
                            <hr/>
                            <div id="processbar3" class="ystep4"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div id="step5" class="card card-plain">
                            <div class="header">启动成功发布确认</div>
                            <hr/>
                            <div id="processbar5" class="ystep4"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div id="step4" class="card card-plain">
                            <div class="header">启动回滚</div>
                            <hr/>
                            <div id="processbar4" class="ystep4"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div id="step6" class="card card-plain">
                            <div class="header">重启Tomcat</div>
                            <hr/>
                            <div id="processbar6" class="ystep4"></div>
                        </div>
                    </div>

                    <div id="false_btn" style="display: none;">
                        #if($shiro.hasPermission("publishevnt:publishContinue"))
                            <Button type='button' class='btn btn-info'
                                    onclick='nebula.publish.process.publishContinue()'>重试
                            </Button>
                        #end
                    </div>
                    <div id="errorMsgDiv"
                         style="margin-top: 20px;word-wrap:break-word;width: 60%;display: none; color: red;"></div>
                    <div class="card card-plain">
                        <div class="header">
                            发布的机器列表
                        </div>
                        <hr/>
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>主机名</th>
                                    <th>主机ip</th>
                                ##                                <th>环境</th>
                                    <th>action</th>
                                    <th>是否成功</th>
                                    <th>更新信息</th>
                                    <th>错误数</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tbody id="hostInfo">
                                    #foreach($module in ${Event.publishModules})
                                        #foreach($host in ${module.publishHosts})
                                        <tr>
                                        ##   <td>$!{module.publishModuleName}</td>
                                            <td>$!{host.passPublishHostName}</td>
                                            <td>$!{host.passPublishHostIp}</td>
                                            <td>$!{host.actionName}</td>
                                            <td>$!{host.isSuccessAction}</td>
                                            <td>$!{host.actionResult}</td>
                                        </tr>
                                        #end
                                    #end
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card card-plain">
                        <div class="header">
                            SLB信息
                        </div>
                        <hr/>
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>SLB名称</th>
                                    <th>SLB_ip</th>
                                    <th>SLB_id</th>
                                    <th>SLB状态</th>
                                    <th>机器状态</th>
                                </tr>
                                </thead>
                                <tbody id="slbInfo_tb">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            #end
        </div>
    </div>
</div>
<div class="modal fade" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 模态弹出窗内容 -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 style="color: #0089db" class="modal-title">刷新CDN</h4>
            </div>
            <div class="modal-body">
                <div style="text-align: center;margin-bottom: 50px;">
                    <p>请选择需要刷新的URL</p>
                    <select id="modalUrl_select">
                        <option value="http://pstage.200jit.com/">http://pstage.200jit.com/</option>
                        <option value="http://pptest.200jit.com/">http://pptest.200jit.com/</option>
                        <option value="http://pmtest.200jit.com/">http://pmtest.200jit.com/</option>
                        <option value="http://patest.200jit.com/">http://patest.200jit.com/</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
            ##                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="modalSubmit_btn" class="btn btn-primary">提交</button>
                <button type="button" id="modalCheck_btn" class="btn btn-primary">查看</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="checkmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 模态弹出窗内容 -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 style="color: #0089db" class="modal-title">刷新CDN</h4>
            </div>
            <div class="modal-body">
                <div style="text-align: center;margin-bottom: 50px;">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>taskId</th>
                            <th>objectPath</th>
                            <th>status</th>
                            <th>creationTime</th>
                        </tr>
                        </thead>
                        <tbody id="modal_tb">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            ##                                                <button type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="logModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- 模态弹出窗内容 -->
            <div class="modal-header">
                <button id="close_logModal_pan" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 style="color: #0089db" class="modal-title">日志信息</h4>
            </div>
            <div class="modal-body">
                <input id="isclosed_modal" style="display: none;" type="text" value="1" />
                <input id="endTimecheck_modal" style="display: none;" type="text" value="0" />
                <form>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>机器名</label>
                                <input type="text" disabled="disabled" id="hostName_modal" class="form-control"/>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>开始时间</label>
                                <input type="text" id="publishDatetime_modal" class="form-control" disabled="disabled" )"
                                >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>结束时间</label>
                                <input type="text" id="logEndTime_modal" class="form-control"
                                   onblur="endTimeOnblur()" onfocus="endTimeOnfocus()"   onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>过滤</label>
                                <input id="keyWord_modal" type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>自动刷新</label>
                            <div id="freshControl_switch" class="switch switch-mini" data-on="success" data-off="warning">
                                <input id="freshControl_checkbox" type="checkbox" checked/>
                            </div>
                        </div>
                    </div>
                </form>
                <div style="margin-bottom: 50px;">
                    <div id="pagination_box">
##                         <ul id="pagination" class="pagination-sm"></ul>
                        <div style="text-align: center" id="pageSort"></div>
                    </div>
                    <table style="table-layout:fixed;" class="table table-bordered">
                        <thead>
                        <tr>
                            <th width='95%'>message</th>
                            <th>id</th>
                        </tr>
                        </thead>
                        <tbody id="logInfoTb_modal">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close_logModal_btn" class="btn btn-default" data-dismiss="modal">关闭</button>
            ##                                                <button type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>

#parse("head/footer.vm")