#parse("./head/header.vm")
#parse("./head/sidebar.vm")
#parse("./head/navbar.vm")
<link rel="stylesheet" href="/public/assets/processbar/css/ystep.css" type="text/css"/>
<!-- 引入jquery -->
<script type="text/javascript" src="/public/assets/processbar/js/jquery.min.js"></script>
<!-- 引入ystep插件 -->
<script type="text/javascript" src="/public/assets/processbar/js/ystep.js"></script>
<script src="/public/assets/js/demo.js"></script>
<script src="/public/assets/js/bootstrap-notify.js"></script>
<script type="text/javascript" src="/public/assets/js/publishProcess.js"></script>

<script>
    nebula.publish.process.main();
    $(function(){
        $("#publishStatus").html(nebula.common.transform.publishStatus('$!{Event.publishStatus}'));
    })
</script>
<div id="loading-status"
     style="display: none;z-index: -1;position: fixed;margin:auto;left:0;right:0;top:0;bottom:0;width:200px;height:150px;">
    <img src="/public/assets/img/loading.gif"></div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        发布单详情
                        <hr/>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <tbody>
                            <tr>
                                <td colspan="4">
                                    <div style="text-align: center">
                                        <label>标题：</label>
                                        <label>$!{Event.publishSubject}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>发布产品：</label>
                                ##   <label>运价2014</label>
                                    <label>$!{Event.publishProductCname}</label>
                                    <input id="eventId" style="display:none" type="text" value=$!{Event.id}>
                                    <input id="publishBuName" style="display:none" type="text" value=$!{Event.publishBuName}>
                                    <input id="publishProductName" style="display:none" type="text" value=$!{Event.publishProductName}>
                                ##  <input id="actionGroup" style="display:none" type="text" value=$!{actionGroup}>
                                ##  <input id="whichStep" style="display:none" type="text" value=$!{whichStep}>
                                ##  <input id="actionState" style="display:none" type="text" value=$!{actionState}>
                                </td>
                                <td>
                                    <label>发布模块：</label>
                                    <label>$!{Event.mokuai}</label>
                                </td>
                                <td>
                                    <label>发布环境：</label>
                                    <label id="publishEnv">$!{Event.publishEnv}</label>
                                </td>
                                <td>
                                    <label>发布类型：</label>
                                    <label>发布</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>发布状态：</label>
                                    <label id="publishStatus"></label>
                                </td>
                            ##  <td>
                            ##   <label>发布结果：</label>
                            ##   <label>$!{Event.isSuccessPublish}</label>
                            ##  </td>
                            ##  <td>
                            ##    <label>发布分批：</label>
                            ##    <label>是/否</label>
                            ##  </td>
                                <td>
                                    <label>发布人：</label>
                                    <label>$!{Event.publishUser.username}</label>
                                </td>
                                <td>
                                    <label>发布进度：</label>
                                    <label></label>
                                </td>
                                <td>
                                    <label>发布时间：</label>
                                    <label> $!date.format('yyyy-MM-dd HH:mm:ss ',$!Event.publishDatetime)</label>
                                </td>
                            </tr>
                            ##                            <tr>
                            ####                                <td>
                            ####                                    <label>发布批次：</label>
                            ####                                    <label>当前1/分一批</label>
                            ####                                </td>
                            ##                                <td>
                            ##                                    <label>发布进度：</label>
                            ####                                    <label>完成0/总数1</label>
                            ##                                    <label></label>
                            ##                                </td>
                            ##                                <td>
                            ##                                    <label>发布时间：</label>
                            ##                                    <label>$!{Event.publishDatetime}</label>
                            ##                                </td>
                            ##                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            #if(!${Event.isApproved})
                <div style="text-align: center;" class="col-md-12">
                    #if($shiro.hasPermission("publishevent:approval"))
                        <button type="button" id="approval_btn" class="btn btn-default btn-info">审批</button>
                    #end
                </div>
            #else
                <div class="col-md-12">
                <div id="publish_btn" class="card card-plain">
                        <div class="header">发布操作</div>
                        <hr/>
                        <div class="content">
                            #if($shiro.hasPermission("publishevnt:prePublishMaster"))
                                <button type="button" id="btn1" class="btn btn-default" onclick="nebula.publish.process.preMasterPublish();">发布准备</button>
                            #end
                            #if($shiro.hasPermission("publishevnt:prePublishMinion"))
                                <button type="button" id="btn2" class="btn btn-default">启动预发布</button>
                            #end
                            #if($shiro.hasPermission("publishevnt:publishReal"))
                                <button type="button" id="btn3" class="btn btn-default" onclick="nebula.publish.process.publishReal()">启动正式发布</button>
                            #end
                            #if($shiro.hasPermission("publishevnt:publishSuccessEnd"))
                                <button type="button" id="btn_ConfirmResult" class="btn btn-default" onclick="nebula.publish.process.publishSuccessEnd()">确认成功</button>
                            #end
                            #if($shiro.hasPermission("publishevnt:publishFailEnd"))
                                <button type="button" id="btn4" class="btn btn-default" onclick="nebula.publish.process.publishFailEnd()">我要回滚</button>
                            #end
                            #if($shiro.hasPermission("publishevnt:retryPublishRollback"))
                                <button type="button" style="display: none" id="restartPublish" class="btn btn-danger" onclick="nebula.publish.process.retryPublishRollback()">重新发布</button>
                            #end
                            #if($shiro.hasPermission("publishevnt:addnextpublish"))
                                <button type="button" style="display: none" id="nextPublish" class="btn btn-info"></button>
                            #end
                        </div>
                    </div>
                <div id="etc_edit" class="col-md-12">
                    <div id="step1" class="card card-plain">
                        <div class="header">发布准备</div>
                        <hr/>
                        <div id="processbar1" class="ystep4"></div>
                        <div id="etc_btns" style="display: none;margin-top: 30px">
                            #if($shiro.hasPermission("publishevnt:updateEtc"))
                                <button type='button' id='etc_btn' class='btn btn-info'>编辑etc</button>
                            #end
                            #if($shiro.hasPermission("publishevnt:updateEtcEnd"))
                                <button type='button' id='edit_success' style='margin-left: 30px' class='btn btn-info'>编辑完成</button>
                            #end
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="step2" class="card card-plain">
                        <div class="header">启动预发布</div>
                        <hr/>
                        <div id="processbar2" class="ystep4"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="step3" class="card card-plain">
                        <div class="header">启动正式发布</div>
                        <hr/>
                        <div id="processbar3" class="ystep4"></div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div id="step5" class="card card-plain">
                        <div class="header">启动成功发布确认</div>
                        <hr/>
                        <div id="processbar5" class="ystep4"></div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div id="step4" class="card card-plain">
                        <div class="header">启动回滚</div>
                        <hr/>
                        <div id="processbar4" class="ystep4"></div>
                    </div>
                </div>
                <div id="false_btn" style="display: none;">
                    #if($shiro.hasPermission("publishevnt:publishContinue"))
                        <Button  type='button' class='btn btn-info' onclick='nebula.publish.process.publishContinue()'>重试</Button>
                    #end
                </div>
                <div id="errorMsgDiv"
                     style="margin-top: 20px;word-wrap:break-word;width: 60%;display: none; color: red;"></div>
                <div class="card card-plain">
                    <div class="header">
                        发布的机器列表
                    </div>
                    <hr/>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>主机名</th>
                                <th>主机ip</th>
                            ##                                <th>环境</th>
                                <th>action</
                                >
                                <th>是否成功</th>
                                <th>更新信息</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tbody id="hostInfo">
                                #foreach($module in ${Event.publishModules})
                                    #foreach($host in ${module.publishHosts})
                                    <tr>
                                    ##   <td>$!{module.publishModuleName}</td>
                                        <td>$!{host.passPublishHostName}</td>
                                        <td>$!{host.passPublishHostIp}</td>
                                        <td>$!{host.actionName}</td>
                                        <td>$!{host.isSuccessAction}</td>
                                        <td>$!{host.actionResult}</td>
                                    </tr>
                                    #end
                                #end
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card card-plain">
                    <div class="header">
                        发布模块和应用
                    </div>
                    <hr/>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>发布模块</th>
                                <th>应用</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tbody id="moduleAndApps">
                                #foreach($module in ${Modules})
                                <tr>
                                    <td>$!{module.publishModuleName}</td>
                                    <td>
                                        #foreach($app in ${module.publishApps})
                                        $!{app.publishAppName};
                                    #end
                                    </td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            #end
        </div>
    </div>
</div>

#parse("head/footer.vm")