<!doctype html>

    #parse("head/header.vm")
    #parse("head/sidebar.vm")
    #parse("head/navbar.vm")


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        发布单详情
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <tbody>
                            <tr>
                                <td>
                                    <label>发布产品：</label>
                                    <label>运价2014</label>
                                </td>
                                <td>
                                    <label>发布模块：</label>
                                    <label>二次发布</label>
                                </td>
                                <td>
                                    <label>发布环境：</label>
                                    <label>测试</label>
                                </td>
                                <td>
                                    <label>发布类型：</label>
                                    <label>发布/回滚</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>发布状态：</label>
                                    <label>发布中</label>
                                </td>
                                <td>
                                    <label>发布结果：</label>
                                    <label>成功</label>
                                </td>
                                <td>
                                    <label>发布分批：</label>
                                    <label>是/否</label>
                                </td>
                                <td>
                                    <label>发布人：</label>
                                    <label>小王</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>发布批次：</label>
                                    <label>当前1/分一批</label>
                                </td>
                                <td>
                                    <label>发布进度：</label>
                                    <label>完成0/总数1</label>
                                </td>
                                <td>
                                    <label>发布时间：</label>
                                    <label>2015-10-05-13.53</label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        发布的机器列表
                    </div>
                    <hr/>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>主机名</th>
                                <th>环境</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tbody>
                            <tr>
                                <td>P_main1</td>
                                <td>测试</td>
                            </tr>
                            <tr>
                                <td>P_main2</td>
                                <td>测试</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">发布操作</div>
                    <hr/>
                    <div class="content">
                        <button type="button" class="btn btn-default">发布准备</button>
                        <button type="button" class="btn btn-default">启动预发布</button>
                        <button type="button" class="btn btn-default">启动正式发布</button>
                        <button type="button" class="btn btn-default">我要回滚</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">启动正式发布</div>
                    <hr/>
                    <div class="content">
                        <button type="button" class="btn btn-default">停止tomcat</button>
                        <button type="button" class="btn btn-default">删除ln</button>
                        <button type="button" class="btn btn-default">创建ln</button>
                        <button type="button" class="btn btn-default">启动tomcat</button>
                        <button type="button" class="btn btn-default">正式发布完成</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">启动预发布</div>
                    <hr/>
                    <div class="content">
                        <button type="button" class="btn btn-default">创建发布目录</button>
                        <button type="button" class="btn btn-default">复制原始文件</button>
                        <button type="button" class="btn btn-default">发布war/etc</button>
                        <button type="button" class="btn btn-default">预发布完成</button>
                    </div>
            </div>
                </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">启动回滚</div>
                    <hr/>
                    <div class="content">
                        <button type="button" class="btn btn-default">停止tomcat</button>
                        <button type="button" class="btn btn-default">删除ln</button>
                        <button type="button" class="btn btn-default">创建ln</button>
                        <button type="button" class="btn btn-default">启动tomcat</button>
                        <button type="button" class="btn btn-default">回滚完成</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


#parse("head/footer.vm")