<%@ page language="java" contentType="text/html; charset=GBK"
pageEncoding="GBK"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK">
    <script type="text/javascript" src="./public/assets/js/jquery-1.10.2.js"></script>
    <title >streaming test</title>
</head>
<body>
<div id="message"></div>
</body>
<script type="text/javascript">
    try {
        var request = new XMLHttpRequest();
    } catch (e) {
        alert("Browser doesn't support window.XMLHttpRequest");
    }

    var pos = 0;
    request.onreadystatechange = function () {
        if (request.readyState === 3) {
            var data = request.responseText;
            $("#message").append(data.substring(pos));
            pos = data.length;
        }
    };
    request.open("POST", "/test1", true);
    request.send(null);

    createStreamingClient("/test1",);


    function createStreamingClient(url,progress,finished){
        var xhr=createXHR();
        var received=0;
        xhr.open("get",url,true);
        xhr.onreadystatechange = function(){
            var result;
            if(xhr.readyState == 3){
                //取得最新数据并调整计数器
                result=xhr.responseText.substring(received);
                received+=result.length;
                //调用progress回调函数
                progress(result);
            }
            else if(xhr.readyState == 4){
                finished(xhr.responseText);
            }
        };
        xhr.send(null);
        return xhr;
    }
</script>
</html>