<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="public/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    #parse("./head/source.vm")
    <title>Nebula-发布系统</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <script>
        var globelLoginUserRoles=$user.aclRoles;
##                $.ajax({
##                    async: false,
##                    type:"post",
##                    data:{"empId":$user.empId},
##                    url:"/user/get/empId",
##                    datatype:"json",
##                    success: function (data) {
##                        globelLoginUserRoles=data;
##                    },
##                    error: function (XMLHttpRequest, textStatus, errorThrown) {
##                        $.notify({
##                            icon: '',
##                            message: "很抱歉载入用户信息失败，原因"+ errorThrown
##
##                        },{
##                            type: 'info',
##                            timer: 1000
##                        });
##                    }
##                })
    </script>
</head>
<body>

<div class="wrapper">