<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="public/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    #parse("./head/source.vm")
    <title>Nebula-发布系统</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
##    <script>
##        var globelLoginUserRoles=$user.aclRoles;
##    </script>
</head>
<body>

<div class="wrapper">