<!doctype html>

<div class="sidebar" data-color="purple" data-image="/public/assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://localhost:8080/" class="simple-text">
                <i class="pe-7s-box1"></i>
                发布系统
            </a>
        </div>
        <ul id="sidebar_ul" class="nav">
            #if($shiro.hasPermission("publishapply:page"))
                <li>
                    <a href="/publish/event.htm">
                        <i class="pe-7s-upload"></i>

                        <p>发布申请</p>
                    </a>
                </li>
            #end
##            #if($shiro.hasPermission("publishevent:page"))
##                <li>
##                    <a href="/publish/list.htm">
##                        <i class="pe-7s-user"></i>
##
##                        <p>我的发布</p>
##                    </a>
##                </li>
##            #end
            #if($shiro.hasPermission("publishevent:page"))
                <li>
                    <a href="/publish/list.htm">
                        <i class="pe-7s-note2"></i>

                        <p>发布数据</p>
                    </a>
                </li>
            #end
            #if($shiro.hasPermission("publishevent:page"))
                <li>
                    <a href="/publish/approveList.htm">
                        <i class="pe-7s-hammer"></i>

                        <p>审批事件</p>
                    </a>
                </li>
            #end

##            <li>
##                <a href="#">
##                    <i class="pe-7s-config"></i>
##
##                    <p>发布配置</p>
##                </a>
##            </li>
            <li>
                <a href="#">
                    <i class="pe-7s-tools"></i>

                    <p>发布工具</p>
                </a>
                <ul style="font-size: 10px;margin-left: 20px;list-style: none;display: none;padding-left:15% !important;">
                    <li><a href="/tool/freshCDN.htm">刷新CDN</a></li>
                </ul>
            </li>
            #if($shiro.hasPermission("user:page"))
                <li id="sidebarUser">
                    <a href="/user/list.htm">
                        <i class="pe-7s-users"></i>

                        <p>用户管理</p>
                    </a>
                </li>
            #end
            #if($shiro.hasPermission("role:page"))
                <li>
                    <a href="/role/list.htm">
                        <i class="pe-7s-id"></i>

                        <p>角色管理</p>
                    </a>
                </li>
            #end

            #if($shiro.hasPermission("permission:page"))
                <li>
                    <a href="/permission/list.htm">
                        <i class="pe-7s-network"></i>

                        <p>权限管理</p>
                    </a>
                </li>
            #end
        </ul>
    </div>
</div>